.partyDetails{
    text-align: center;
}

.partyDetails input{
    text-align: center;
    background: transparent;
    border: none;
    font-size: large;
}

textarea.content{
    min-width: 20vw;
    min-height: 20vw;
    margin-top: 20px;
    text-align: center;
    resize: none;
    border: #1B262C;
    border-radius: 5px;
    font-size: 20px;
}

.cost input{
    text-align: center;
    background: transparent;
    margin-top: 3vw;
    border: none;
    font-size: large;
}

.confirm{
    margin-top: 2vw;
    margin-bottom: 20px;
    text-align: center;
    /*color: #1B262C;*/
    background-color: #0F4C75;
    border: none;
    border-radius: 10px;
    border-color: #0F4C75; 
    font-size: 1.4em;
    transition: 0.4s ease;
    color: white;
}

.confirm:hover {
    background-color: #d6d6d6;
    transition: 0.4s ease;
}